.nav-text-color {
  font-size: 18px;
  font-weight: bolder;
  color: #ffffff !important;
}
.nav-text-color:hover {
  color: rgb(245, 52, 52) !important;
}
@media only screen and (max-width: 600px) {
  .nav-item:last-child {
    order: -1;
  }
}
